.dark-mode {
    position: fixed;
    bottom: calc(var(--page-padding) + 20px);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .3s ease;
    &:hover {
        color: var(--highlight-color);
        .dark-mode__control {
            circle {
                fill: var(--highlight-color);
            }
            circle:not([fill-opacity]){
                transform: scale(1.8);
            }
            rect {
                stroke: var(--highlight-color)
            }
            &.slideControl {
                circle:not([fill-opacity]){
                    transform: translateX(35%) scale(1.8);
                }
            }
        }
    }
    .dark-mode__control {
        width: 60px;
        height: 40px;
        fill: none;
        circle {
            transform-origin: 28% 50%;
            transition: fill .8s ease, transform .8s ease;
            fill: var(--text-color)
        }
        rect {
            stroke: var(--text-color)
        }

        &.slideControl {
            circle:not([fill-opacity]){
                transform: translateX(35%);
            }
        }
    }

    .dark-mode__text {
        margin-left: 1rem;
    }
}
