.logo {
    display: flex;
    align-items: center;
    .logo__box {
        display: inline-block;
        margin-right: 2rem;
        width: 40px;
        height: 40px;
        animation: rotateLogo 70s ease infinite both;
        rect {
            fill: var(--highlight-color)
        }
    }

    .logo__title {
        font-size: 2.3rem;
    }
}


// Logo Rotation animation
@keyframes rotateLogo {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(#{100*15}deg);
    }
}