*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--text-color);
    font-family: var(--primary-font);
    padding: var(--page-padding);
    min-height: 100vh;

    background-image: url('/assets/images/grid.svg');
    background-position: 100% 40%;
    background-color: var(--background-color);
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 3.2rem;
    font-weight: 500;
}

h2 {
    font-size: 2.6rem;
    font-weight: 400;
}

h3 {
    font-size: 2.4rem;
    font-weight: 400;
}


.slide-transition {
    position: fixed;
    left: 0px; 
    right: 0px; 
    top: 0;
    background-color: var(--highlight-color);
    // height: 100vh;
    width: 100%;
    z-index: 101;
}